* {
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans";
    background: #fdfeff;
    color: #ecf0f1;
    line-height: 1.618em;
  }
  .wrapper {
    max-width: 50rem;
    width: 100%;
    margin: 0 auto;
  }
  .tabs {
    position: relative;
    margin: 1rem 0;
    background: #ffffff;
    height: 14.75rem;
    display: flex;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
    flex-grow: 1;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #070707;
    border-right: 0.125rem solid #161616;
    color: #fff;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    height: 16rem;
    position: absolute;
    z-index: 1;
    top: 3em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #124477;
    border-bottom: 0.25rem solid #ffffff;
    opacity: 0;
    transition: all 0.35s;
    padding: 20px 50px 20px 50px;
  }
  .tab-switch:checked + .tab-label {
    background: #fff;
    color: #000000;
    border-bottom: 0;
    border-right: 0.125rem solid #fff;
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }

  #title-bar {
    display: flex;
    align-items: center;
    padding: 10px 0px 10px 0px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dcdddc;
  }

  #title {
    font-weight: bold;
    margin-right: 20px;
  }

  #published-at {
    margin-left: auto;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    width: 40%;
  }
