
<div class="about-section">
    <h1>About Us Page</h1>
    <p>We are one great team that works around the clock to give the best sports and weather news </p>
    <p>Ranked number #1 by js power in sport news </p>
  </div>
  
  <h2 style="text-align:center"> Team 8</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Rudy Hernandez</h2>
          <p class="title">Back-end developer</p>
         
          <p>rudy@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2>Suliz Basnet</h2>
          <p class="title">Back-end developer</p>
         
          <p>Suliz@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Divya Patel</h2>
          <p class="title">Front-end developer</p>
          <p>Divya@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>

    <div class="column">
        <div class="card">
          <div class="container">
            <h2>Vadzim Matsiushonak</h2>
            <p class="title">Front-end Apideveloper</p>
            <p>Vadzim@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <div class="container">
            <h2>Anand Patel</h2>
            <p class="title">Front-end developer</p>
            <p>Anand@example.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

  </div>
