
    <div class="container py-3 navbar-expand-lg navbar-dark bg-primary" style="background-image: url('https://res.cloudinary.com/dxfq3iotg/image/upload/v1559286899/weatherbg.jpg');">
        <div class="row">
          <div class="col">
            <span class="navbar-text" style="color:white">
                <h3>&nbsp; Weather </h3>
            </span>
          </div>

          <div class="col">
            <span class="navbar-text" >
                <h3>{{description}}</h3>
            </span>
          </div>

          <div class="col">
            <span class="navbar-text" style="color:white">
                <img src={{imageUrl}}>
            </span>
          </div>

          <div class="col">
            <span class="navbar-text">
                <h3>{{tempF}}<sup>F</sup></h3>
            </span>
          </div>

          <div class="col">
            <span class="navbar-text" >
                <h3 >{{location}}</h3>
            </span>
          </div>

          <!-- <div class="col">
            <span class="navbar-text">
                <h3>{{date}}</h3>
            </span>
          </div> -->

        </div>
    </div>
