.main-chat{
    position: absolute;
    z-index: 99 !important;
    top: 100%;
    right: 0%;
    background-color: black;
    outline: none;
    border-top-left-radius: 10px;
    width: 327px;
}

textarea {
  background-color: white;
  width: 100%;
  border-top-left-radius: 10px;
  height: 180px;
  padding: 10px;
}

.name{
    color: white;
}
input{
    border: none;
    outline: none;
    margin-left: 1px;
}

.btn{
    outline: none;
    border: none;
    color: white;
    border: 1px solid white;
    margin: 3px 3px 3px 3px;
}
.chat-controls {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#nickname {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
