
<div class="container">
    <div style="text-align:center">
      <h2>Contact Us</h2>
      <p>Got a story you would like us to cover</p>
    </div>
    <div class="row">
      <div class="column">
        <p >
          <iframe id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3031.0789218666605!2d-74.33687328430221!3d40.56193437934846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3b667532db7fd%3A0x42a56146afbed101!2sTata%20Consultancy%20Services!5e0!3m2!1sen!2sus!4v1616967230857!5m2!1sen!2sus"
           width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></p>
      </div>
      <div class="column">
        <form action="/action_page.php">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
          <label for="email">Email</label>
          <input type="text" id="emailid" name="email" placeholder="Your email..">


          <label for="subject">Query</label>

          <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea>
          <input type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
