
<div class="wrapper">
    <div class="tabs">
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
        <label for="tab-1" class="tab-label"  >Sports New 1</label>
        <div class="tab-content">News two info to put in by the admin <a href="https://www.w3schools.com/" target="_blank">(more)</a>  </div>
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
        <label for="tab-2" class="tab-label">Sports news  Two</label>
        <div class="tab-content"> News two info to put in by the admin <a href="https://www.w3schools.com/"target="_blank">(more)</a> </div>
        
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
        <label for="tab-3" class="tab-label">Sports News 3</label>
        <div class="tab-content">News two info to put in by the admin <a href="https://www.w3schools.com/"target="_blank">(more)</a>  </div>
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-4" class="tab-switch">
        <label for="tab-4" class="tab-label">Sports News 4</label>
        <div class="tab-content">News two info to put in by the admin <a href="https://www.w3schools.com/"target="_blank">(more)</a>  </div>
      </div>
      <div class="tab">
        <input type="radio" name="css-tabs" id="tab-5" class="tab-switch">
        <label for="tab-5" class="tab-label">Sports News 5</label>
        <div class="tab-content">News two info to put in by the admin <a href="https://www.w3schools.com/"target="_blank">(more)</a> </div>
      </div>
    </div>
   
  </div>